langgraph
langchain
langchain-groq
langchain-community
langchain-core
langchain-huggingface
google-generativeai
supabase

transformers
torch
soundfile
sentencepiece
sentence-transformers

pydantic

python-dotenv